<div ng-include="'template/nav.html'"></div>

<!--乐俊杰-->
<!--<style>-->
    <!--#yjj {-->
        <!--background-color: #f4f4f4;-->
        <!--width: 100%;-->
        <!--min-height: 100%;-->
    <!--}-->

    <!--#yjj .logo {-->
        <!--width: 100%;-->
        <!--height: 70px;-->
        <!--border-bottom: 1px solid #ddd;-->
    <!--}-->

    <!--#yjj .logo div {-->
        <!--height: 66px;-->
        <!--width: 1200px;-->
        <!--margin: 0 auto;-->
    <!--}-->

    <!--#yjj .logo div img {-->
        <!--width: 144px;-->
        <!--background-repeat: no-repeat;-->
        <!--margin-top: 14px;-->
    <!--}-->

    <!--#yjj .cart-emptyCart {-->
        <!--height: 226px;-->
        <!--width: 1200px;-->
        <!--margin: 30px auto 0 auto;-->
        <!--background-color: #fff;-->
        <!--text-align: center;-->
    <!--}-->

    <!--#yjj .cart-emptyCart h4 {-->
        <!--padding-top: 30px;-->
    <!--}-->

    <!--#yjj .cart-emptyCart h4 svg {-->
        <!--font-size: 50px;-->
    <!--}-->

    <!--#yjj .cart-emptyCart .btn {-->
        <!--margin: 20px auto;-->
        <!--background-color: #ff3366;-->
        <!--border-color: #ff3366;-->
    <!--}-->

    <!--#yjj .cart-fullCart{-->
        <!--width: 1200px;-->
        <!--margin: 20px auto 0 auto;-->
        <!--background-color: #fff;-->
    <!--}-->

    <!--#yjj .cart-fullCart .cart-category .cart-item>div{-->
        <!--height: 111px;-->
        <!--overflow: hidden;-->
        <!--text-overflow: ellipsis;-->
    <!--}-->

    <!--#yjj .cart-header{-->
        <!--width: 100%;-->
        <!--border-bottom: 1px solid #ddd;-->
        <!--margin: 0;-->
    <!--}-->

    <!--#yjj .cart-header>div{-->
        <!--height: 49px;-->
        <!--text-align: center;-->
        <!--line-height: 49px;-->
        <!--padding: 0;-->
    <!--}-->

    <!--#yjj .cart-type{-->
        <!--height: 60px;-->
        <!--padding: 0;-->
        <!--line-height: 60px;-->
        <!--text-align: center;-->
    <!--}-->

    <!--#yjj .cart-type .col-md-1{-->
        <!--height: 60px;-->
        <!--padding: 0;-->
        <!--line-height: 60px;-->
        <!--text-align: center;-->
    <!--}-->

    <!--#yjj .cart-item{-->
        <!--height: 111px;-->
        <!--line-height: 111px;-->
        <!--margin: 0;-->
        <!--border-bottom: 1px solid #ddd;-->
        <!--border-top: 1px solid #ddd;-->
        <!--text-align: center;-->
    <!--}-->

    <!--#yjj .cart-item>div{-->
        <!--padding: 0;-->
    <!--}-->
    <!--#yjj .cart-item .col-md-2 img{-->
        <!--width: 80px;-->
        <!--height: 90px;-->
    <!--}-->
    <!--/*数量增减按钮*/-->
    <!--#yjj .cart-item .col-md-2.count_btn{-->
        <!--margin: 0;-->
    <!--}-->
    <!--#yjj .cart-item .col-md-2.count_btn .cart-operate{-->
        <!--display: inline-block;-->
        <!--height: 27px;-->
        <!--width: 27px;-->
        <!--line-height: 27px;-->
        <!--border: 1px solid #dddddd;-->
        <!--color: #333333;-->
        <!--vertical-align: middle;-->
        <!--cursor: pointer;-->
        <!--font-weight: bold;-->
        <!--font-size: 20px;-->
    <!--}-->
    <!--#yjj .cart-item .col-md-2.count_btn input{-->
        <!--display: inline-block;-->
        <!--height: 27px;-->
        <!--line-height:27px;-->
        <!--width: 45px;-->
        <!--text-align: center;-->
        <!--outline: medium;-->
        <!--vertical-align: middle;-->
        <!--border: 1px solid #dddddd;-->
        <!--border-left: none;-->
        <!--border-right: none;-->
    <!--}-->
    <!--#yjj .closeAnAccount{-->
        <!--height: 50px;-->
        <!--margin-top:20px;-->
        <!--border-top: 1px solid #ddd;-->
        <!--position: fixed;-->
        <!--bottom: 0;-->
        <!--width: 1200px;-->
        <!--opacity: 1;-->
        <!--z-index: 999;-->
        <!--background-color: #fff;-->
    <!--}-->
    <!--#yjj .closeAnAccount>div{-->
        <!--height: 50px;-->
        <!--padding: 0;-->
        <!--line-height: 50px;-->
        <!--text-align: center;-->
    <!--}-->
    <!--#yjj .closeAnAccount .description{-->
        <!--text-align: right;-->
        <!--color: #333;-->
    <!--}-->
    <!--#yjj .closeAnAccount .description .price {-->
        <!--color: #f13e3a;-->
        <!--font-size:26px;-->
        <!--font-weight:700;-->
        <!--padding: 0 10px;-->
    <!--}-->
    <!--#yjj .closeAnAccount .description .amount{-->
        <!--color: #f13e3a;-->
    <!--}-->
    <!--#yjj .closeAnAccount .btn{-->
        <!--background-color: #f13e3a;-->
        <!--font-size: 30px;-->
        <!--color: #ffffff;-->
    <!--}-->
    <!--#yjj .cart-footer{-->
        <!--color: #999999;-->
        <!--width: 100%;-->
        <!--height: 145px;-->
        <!--padding: 40px 0;-->
        <!--text-align: center;-->

    <!--}-->
<!--</style>-->
<div id="yjj" ng-controller="cartCtrl">
    <div class="logo">
        <div>
            <img src="images/cart-beauty-logo.png" alt="logo加载中">
        </div>
    </div>
    <div class="cart-emptyCart" ng-show="dispose.cartArr.length===0">
        <h4>
            <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-gouwuche1"></use>
            </svg>
            您的购物车还是空的，赶快去挑选商品吧！
        </h4>
        <a href="#/home" class="btn btn-primary">返回首页</a>
    </div>
    <div class="cart-fullCart" ng-hide="dispose.cartArr.length===0">
        <!--表头-->
        <div class="cart-header row" >
            <div class="col-md-1">
                <input type="checkbox" ng-click="selectAll()" select-all-active>
                全选
            </div>
            <div class="col-md-6">商品</div>
            <div class="col-md-1">单价（元）</div>
            <div class="col-md-2">数量</div>
            <div class="col-md-1">小计（元）</div>
            <div class="col-md-1">操作</div>
        </div>

        <!--列表-->
        <div class="cart-category" ng-repeat="type in dispose.categoryArr">
            <div class="cart-type">
                <div class="col-md-1">
                    <input type="checkbox" ng-click="selectCategory(type)" select-type-active="{{type}}">
                    <span>类型</span>
                </div>
                <div class="col-md-2">
                    <strong>{{type}}</strong>
                </div>
            </div>
            <div class="cart-item row" ng-repeat="item in dispose.cartArr | filter:type">
                <div class="col-md-1">
                    <input type="checkbox" ng-click="selectItem(item)" select-item-active="{{item.id}}">
                    选择
                </div>
                <div class="col-md-2">
                    <img src="{{item.imageSrc}}" alt="">
                </div>
                <div class="col-md-4">
                    <span>{{item.description}}</span>
                </div>
                <div class="col-md-1">{{item.price | currency:'￥'}}</div>
                <div class="col-md-2 count_btn row">
                    <span class="cart-operate" ng-click="addOrReduce('-',item)">-</span><input type="text" ng-model="item.count" readonly><span class="cart-operate" ng-click="addOrReduce('+',item)">+</span>
                </div>
                <div class="col-md-1">{{item.price * item.count | currency:'￥'}}</div>
                <div class="col-md-1"><a href="" ng-click="deleteItem(item)">删除</a></div>
            </div>
        </div>

        <!--结算-->
        <div class="closeAnAccount">
            <div class="col-md-1 checked">
                <input type="checkbox" select-all-active ng-click="selectAll()">全选
            </div>
            <div class="col-md-1 operation">
                <a href="" ng-click="deleteAll()">全部删除</a>
            </div>
            <div class="col-md-3 vacant"></div>
            <div class="col-md-5 description">
                共有<span class="amount">{{dispose.selectedArr.length}}</span>款商品，总计: <span class="price">{{priceAmount | currency:'￥'}}</span>
            </div>
            <div class="col-md-2 btn">去付款</div>
        </div>
    </div>
    <div class="cart-footer">
        <p>美丽说
            © 2016 Meilishuo.com,All Rights Reserved.
        </p>
    </div>
</div>
