<div class="shichunyu_footer">
    <div class="container">
        <div class="row text-muted text-center">
            <div class="col-md-8">
                <div class="col-md-3">
                    <ul>
                        <li><h4>买家帮助</h4></li>
                        <li>新手服务</li>
                        <li>服务保障</li>
                        <li>常见问题</li>
                        <li>风险监测</li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <ul>
                        <li><h4>商家帮助</h4></li>
                        <li>供应商招募</li>
                        <li>商家后台</li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <ul>
                        <li><h4>关于我们</h4></li>
                        <li>关于美丽说</li>
                        <li>联系我们</li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <ul>
                        <li><h4>关注我们</h4></li>
                        <li>新浪微博</li>
                        <li>QQ空间</li>
                        <li>腾讯微博</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="footer_right">
                    <div class="wechat_code">
                        <h4>美丽说微信服务号</h4>
                        <img src="images/wechat-code.jpg" alt="">
                    </div>
                    <div class="meilishuoApp">
                        <h4>美丽说客户端下载</h4>
                        <img src="images/MeiLiShuoApp.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer_bottom">
        <div class="container">
            <div class="row text-muted text-center">
                <div class="col-md-12">
                    <p>
                        Copyright &copy;2017 Meilishuo.com&nbsp;
                        <a href="#">电信与信息服务业务经营许可证100798号</a>&nbsp;
                        <a href="#">经营性网站备案信息 </a>
                    </p>
                    <p>
                        京ICP备11031139号&nbsp;
                        京公网安备110108006045&nbsp;
                        客服电话:4000-800-577&nbsp;
                        文明办网文明上网举报电话:010-82615762&nbsp;
                        <a href="#">违法不良信息举报中心</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>