<div ng-include="'template/nav.html'"></div>

<style>
    #lf2 .header{
        width : auto;
        height: 50px;
        background-color: #ccc;
        font-size: 30px;
        color : black;
        display: flex;
        justify-content : center;
        align-items : center;
    }
    #lf2 .header:hover{
        color : #f36;
    }
    #lf2 .ctn{
        width: 1200px;
        height: 680px;
    }
    #lf2 .ctn .row div {
        margin-top: 10px;
        height: auto;
    }
    #lf2 .ctn .row .content{
        position: relative;
        left : 8%;
        width: 1058px;
        height: 700px;
        z-index: 7;
        overflow: hidden;
    }
    #lf2 .ctn .row .content .img{
        width: 400px;
        height: 560px;
        float: left;
    }
    #lf2 .ctn .row .content .body{
        float: right;
    }
    #lf2 .ctn .row .content .body h3:hover{
        color : #f36;
        opacity:0.7;
    }
    #lf2 .ctn .row .content .body .price{
        width: 540px;
        height:auto;
        background-color: #f3f3f3;
        margin-top:20px;
    }
    #lf2 .ctn .row .content .body .price dl{
        margin-left: 12px;
        font-size: 14px;
        color: #999;
        height: 32px;
        line-height: 32px;
    }
    #lf2 .ctn .row .content .body .price dl dt{
        float: left;
        color: #999;
        font-size: 12px;
        height: 32px;
        line-height: 32px;
    }
    #lf2 .ctn .row .content .body .price dl:nth-child(1) dd{
        font-size: 15px;
    }
    #lf2 .ctn .row .content .body .price dl:nth-child(2) dd span:nth-child(1){
        font-size: 30px;
        color : #f36;
    }
    #lf2 .ctn .row .content .body .price dl:nth-child(2) dd span:nth-child(2),
    #lf2 .ctn .row .content .body .price dl:nth-child(2) dd span:nth-child(3){
        font-size: 13px;
        color: #666;
        float: right;
        margin-right:10px;
    }
    #lf2 .ctn .row .content .body .price dl:nth-child(3) dd span{
        color : #000;
    }
    #lf2 .ctn .row .content .body .lx img{
        width: 24px;
        height: 24px;
        background-color: #fff;
    }
    #lf2 .ctn .row .content .body .lx{
        margin-top:20px;
    }
    #lf2 .ctn .row .content .body .lx img:hover{
        transform : scale(1.5);
    }
    #lf2 .ctn .row .content .body .buy button{
        width: 200px;
        height: 70px;
        text-align: center;
        font-size: 30px;
        border : none;
    }
    #lf2 .ctn .row .content .body .buy button:nth-child(1){
        background-color: red;
        color : #fff;
    }
    #lf2 .ctn .row .content .body .service{
        margin-top:20px;
    }
    #lf2 .ctn .row .content .body .service img{
        width: 24px;
        height: 24px;
    }
    #lf2 .ctn .row .content .body .service img:hover{
        transform : scale(1.5);
    }
    #lf2 .ctn .row .content .body .payType{
        margin-top:20px;
        line-height:24px;
    }
    #lf2 .ctn .row .content .body .payType .icon{
        width: 24px;
        height: 24px;
        text-align: center;
        margin-left:15px;
    }
    #lf2 .ctn .row .content .body .payType .icon:hover{
        transform : scale(1.5);
    }
    #lf2 .ctn .row .right{
        position: absolute;
        left: 85%;
        top: 60px;
        background-color: #fff;
        z-index: 6;
        overflow: hidden;
        border-left: 1px solid #eee;
        padding-left: 20px;
        margin-left: -140px;
    }
    #lf2 .ctn .row .right >p{
        font-size: 25px;
        display: flex;
        justify-content : center;
        align-items : center;
    }
    #lf2 .ctn .row .right p:hover{
        color:#f63;
    }
    #lf2 .ctn .row .right ul>li{
        margin-top:15px;
        list-style: none;
    }
    #lf2 .ctn .row .right ul>li img{
        width: 140px;
        height:auto;
    }
    #lf2 .ctn .row .right ul>li p{
        display: flex;
        justify-content : center;
        align-items : center;
        font-size: 15px;
    }
</style>

<div id="lf2">
    <section class="header">商品选择</section>
    <section class="ctn">
        <div class="row">
            <div class="content">
                <div class="img">
                    <img src="images/clothes/04.jpg" alt="">
                </div>

                <div class="body">
                    <h3>精品白领都市丽人白衬衫</h3>
                    <div class="price">
                        <dl>
                            <dt>原价 ：</dt>
                            <dd><span></span></dd>
                        </dl>
                        <dl>
                            <dt>现价 ：</dt>
                            <dd>
                                <span>￥169</span>
                                <span>评价 : 11 </span>
                                <span> 累计销量 : 79</span>
                            </dd>
                        </dl>
                        <dl>
                            <dt>店铺优惠 ：</dt>
                            <dd><span>满99减50</span></dd>
                        </dl>
                    </div>
                    <div class="lx">
                        <span>客服 ：</span>
                        <img src="images/xq/lx.gif" alt="">
                        <span>联系客服</span>
                    </div>
                    <div class="buy">
                        <button>立即购买</button>
                        <button>加入购物车</button>
                    </div>
                    <div class="service">
                        <span>服务承诺 ：</span>
                        <img src="images/xq/tui.png" alt="">
                        <span>退货补运费</span>
                        <img src="images/xq/car.png" alt="">
                        <span>全国包邮</span>
                        <img src="images/xq/seven.png" alt="">
                        <span>七天无理由退货</span>
                        <img src="images/xq/72.png" alt="">
                        <span>72小时发货</span>
                    </div>
                    <div class="payType">
                        <span>支付方式 : </span>
                        <svg class="icon" aria-hidden="true">
                            <use xlink:href="#icon-zhifubaotubiao-"></use>
                        </svg>
                        <svg class="icon" aria-hidden="true">
                            <use xlink:href="#icon-weixin"></use>
                        </svg>
                        <svg class="icon" aria-hidden="true">
                            <use xlink:href="#icon-yinlianqiayuanxingtubiao"></use>
                        </svg>
                        <svg class="icon" aria-hidden="true">
                            <use xlink:href="#icon-qq1"></use>
                        </svg>
                    </div>
                </div>

            </div>
            <div class="right">
                <p>热门推荐</p>
                <ul>
                    <li>
                        <img src="images/clothes/01.jpg" alt="">
                        <p>￥99</p>
                    </li>
                    <li>
                        <img src="images/clothes/02.jpg" alt="">
                        <p>￥149</p>
                    </li>
                    <li>
                        <img src="images/clothes/03.jpg" alt="">
                        <p>￥89</p>
                    </li>
                </ul>
            </div>
        </div>
    </section>
</div>