
<div ng-include="'template/nav.html'"></div>

<!--李峰-->

<style>
    #lf .sec_nav{
        position : fixed;
        top : 0;
        list-style : none;
        display : flex;
        justify-content: center;
        align-items: center;
        padding-top: 10px;
        width: 100%;
        border-bottom:1px solid #ccc;
        z-index: 100;
        background-color: #eee;
    }
    #lf .sec_nav ul li{
        width : 110px;
        display : flex;
        justify-content: center;
        align-items: center;
        background: none;
    }
    #lf .sec_nav ul>li.active a{
        color : #f36;
        border-bottom : 2px solid #f36;
    }

    #lf .sec_nav ul>li>a:hover{
        color : #f36;
        border-bottom : 2px solid #f36;
    }
    #lf .sec_nav ul li a{
        background: none;
        border-radius: 0;
        display: block;
        height: 38px;
        font-size: 16px;
        font-weight: 700;
        color: #333;
    }

    #lf {
        background: #eee;
    }
</style>

<div id="lf" ng-controller="sortCtrl">
    <!--导航条-->
    <div class="sec_nav">
        <ul class="nav nav-pills">
            <li role="presentation" class="active"><a href="">首页</a></li>
            <li role="presentation"><a href="javascript:;" ng-click="change('上衣')">上衣</a></li>
            <li role="presentation"><a href="javascript:;" ng-click="change('裙子')">裙子</a></li>
            <li role="presentation"><a href="javascript:;" ng-click="change('裤子')">裤子</a></li>
            <li role="presentation"><a href="javascript:;" ng-click="change('女鞋')">女鞋</a></li>
            <li role="presentation"><a href="javascript:;" ng-click="change('包包')">包包</a></li>
            <li role="presentation"><a href="javascript:;" ng-click="change('配饰')">配饰</a></li>
            <li role="presentation"><a href="javascript:;" ng-click="change('美妆')">美妆</a></li>
            <li role="presentation"><a href="javascript:;" ng-click="change('男友')">男友</a></li>
            <li role="presentation"><a href="javascript:;" ng-click="change('童装')">童装</a></li>
            <li role="presentation"><a href="javascript:;" ng-click="change('家居')">家居</a></li>
        </ul>
    </div>
    <!--轮播图-->
    <div id="body_top" class="hidden-sm hidden-xs">
        <div class="top-img">
            <img src="images/Carousel-1.jpg" alt="">
        </div>
    </div>
    <!--图片排列-->
    <div class="category_container">
        <div class="category_item" ng-repeat="item in currentCategory">
            <div class="category_item-curtain">
                <svg class="icon" aria-hidden="true" ng-click="add(item)">
                    <use xlink:href="#icon-gouwuche1"></use>
                </svg>
            </div>
            <img src="{{item.imageSrc}}" alt="">
            <div class="content-text">
                <p class="price">
                    {{item.price | currency:'￥'}}
                </p>
                <p class="title">
                    <img src="images/youxuan.png" alt="">
                    {{item.description}}
                </p>
            </div>
        </div>

    </div>

</div>

